.center {
  width: 99vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.preview{
  width: 300px;
  display: none;
}

.title{
  color: rgb(72, 128, 238);
  text-shadow: 0px 5px 10px rgba(72, 127, 238, 0.068);
  margin-top: 30px;
}

.desc{
  text-align: center;
}

.download{
  width: 198px;
  height: 68px;
  background-color: rgb(72, 128, 238);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
}

.download:hover{
  background-color: rgb(65, 114, 212);
}

.download_btn{
  color:white;
  font-size: large;
  text-decoration: none;
}


@media screen and (max-width: 767px){
  .center{width: 100%}
}